@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');


body {
    background-image: url('./assets/img/32442923_7895078.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.comentario{
    font-family: "Coiny", sans-serif;
}